{% extends "base.html" %}
{% block content %}

 <form name="descriptions" method="post" action="/additional_info">
     <h3> Введите шаблон названия видео (%fio% - имя руководителя, %fior% - имя в родительном падеже) </h3>
     <textarea style="font-size: 15pt" name="title" rows="5" cols="80">{{data[0]}}</textarea>
     <h3> Введите шаблон описания видео (%fio% - имя руководителя, %fior% - имя в родительном падеже) </h3>
     <textarea style="font-size: 15pt" name="description" rows="5" cols="80">{{data[1]}}</textarea>
     <p><input type="submit" name="submit_button" value="Начать загрузку"></p>
 </form>

{% endblock %}