{% extends "base.html" %}
{% block content %}

<form method="post" action="/">

    <script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('twitch_video');
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
    </script>

    <p>Обновить видео в базе данных: <input type="submit" name="update_button" value="Обновить"> </p>

    <p><label for="start">Выбрать дату:</label>
    <input type="date" id="selectedDate" name="selectedDate">
    <input type="submit" name="date_button" value="Показать"> </p>

    <h2> Показаны видео за {{date}} </h2>

    <p><input type="checkbox" onClick="toggle(this)" /> Выбрать все<br/> </p>

    {% for user in data.keys() %}
    <h2> Channel: <a href="https://twitch.com/{{user.channel}}"> {{user.fio}} </a> </h2>
        {% for video in data[user] %}
             <div><p>
                <input type="checkbox" name="twitch_video" value="{{user._id, video._id}}">
                {{video.published_at}}, <b> {{video.title}} </b>, {{video.get_formatted_length()}}
            </p></div>
        {% endfor %}
    {% endfor %}

    <p><input type="submit" name="submit_button" value="Принять"></p>

</form>

{% endblock %}